.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(63, 63, 238, 0.863);
  color: white;
  font-size: 25px;
  margin: 5px 5px 5px 5px;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

a:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 5px;
  zoom: 1.5;
}
