/* index css file for react */
html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
  background-color: azure;
  font-family: sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}
